{% set title = "Feedback" %} {% extends "layout.html" %} {% block body %}
<div class="col-md-9 grid-margin stretch-card mx-auto">
    <div class="card">
      <div class="card-body"><h4 class="card-title">Feedback form</h4>
        <p class="card-description"> Please tell us anything you would want to see in care4covid through this form </p>
        <form method="POST" class="forms-sample">
          <div class="form-group">
            <label for="exampleInputUsername1">Name</label><span class="text-danger"> *</span>
            <input type="text" name="name" class="form-control" id="exampleInputUsername1" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputNumber">Contact Number</label><span class="text-danger"> *</span>
            <input type="number" name="number" class="form-control" id="exampleInputNumber1" placeholder="Contact Number" required>
          </div>
          <div class="form-group">
            <label for="exampleInputName1">How did you get to know about Care4covid</label>
            <input type="text" name="howknow" class="form-control" id="exampleInputName1" placeholder="Through Social Media">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">How can we make care4covid more useful</label>
            <textarea class="form-control" name="howuseful" id="exampleInputName1" placeholder="We can make care4covid more useful by"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Feedback</label><span class="text-danger"> *</span>
            <textarea type="text" name="feedback" class="form-control" id="exampleInputName1" placeholder="Feedback" required></textarea>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}