{% set title = "Home" %} {% extends "layout.html" %} {% block body %}
<style>
    .switch {
        font-size: 1rem;
        position: relative;
    }
    
    .switch input {
        position: absolute;
        height: 1px;
        width: 1px;
        background: none;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        padding: 0;
    }
    
    .switch input+label {
        position: relative;
        min-width: calc(calc(2.375rem * 0.8) * 2);
        border-radius: calc(2.375rem * 0.8);
        height: calc(2.375rem * 0.8);
        line-height: calc(2.375rem * 0.8);
        display: inline-block;
        cursor: pointer;
        outline: none;
        user-select: none;
        vertical-align: middle;
        text-indent: calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
    }
    
    .switch input+label::before,
    .switch input+label::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(calc(2.375rem * 0.8) * 2);
        bottom: 0;
        display: block;
    }
    
    .switch input+label::before {
        right: 0;
        background-color: #dee2e6;
        border-radius: calc(2.375rem * 0.8);
        transition: 0.2s all;
    }
    
    .switch input+label::after {
        top: 2px;
        left: 2px;
        width: calc(calc(2.375rem * 0.8) - calc(2px * 2));
        height: calc(calc(2.375rem * 0.8) - calc(2px * 2));
        border-radius: 50%;
        background-color: white;
        transition: 0.2s all;
    }
    
    .switch input:checked+label::before {
        background-color: #08d;
    }
    
    .switch input:checked+label::after {
        margin-left: calc(2.375rem * 0.8);
    }
    
    .switch input:focus+label::before {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
    }
    
    .switch input:disabled+label {
        color: #868e96;
        cursor: not-allowed;
    }
    
    .switch input:disabled+label::before {
        background-color: #e9ecef;
    }
    
    .switch.switch-sm {
        font-size: 0.875rem;
    }
    
    .switch.switch-sm input+label {
        min-width: calc(calc(1.9375rem * 0.8) * 2);
        height: calc(1.9375rem * 0.8);
        line-height: calc(1.9375rem * 0.8);
        text-indent: calc(calc(calc(1.9375rem * 0.8) * 2) + 0.5rem);
    }
    
    .switch.switch-sm input+label::before {
        width: calc(calc(1.9375rem * 0.8) * 2);
    }
    
    .switch.switch-sm input+label::after {
        width: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
        height: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
    }
    
    .switch.switch-sm input:checked+label::after {
        margin-left: calc(1.9375rem * 0.8);
    }
    
    .switch.switch-lg {
        font-size: 1.25rem;
    }
    
    .switch.switch-lg input+label {
        min-width: calc(calc(3rem * 0.8) * 2);
        height: calc(3rem * 0.8);
        line-height: calc(3rem * 0.8);
        text-indent: calc(calc(calc(3rem * 0.8) * 2) + 0.5rem);
    }
    
    .switch.switch-lg input+label::before {
        width: calc(calc(3rem * 0.8) * 2);
    }
    
    .switch.switch-lg input+label::after {
        width: calc(calc(3rem * 0.8) - calc(2px * 2));
        height: calc(calc(3rem * 0.8) - calc(2px * 2));
    }
    
    .switch.switch-lg input:checked+label::after {
        margin-left: calc(3rem * 0.8);
    }
    
    .switch+.switch {
        margin-left: 1rem;
    }
    
    body {
        padding: 1rem;
    }
    
    .contentA {
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-3 px-2 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">

            <div class="card-body p-4">
                <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Total Cases<i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-3">{{data.total}}</h2>
                <h4 class="mb-1">{{today.dailyconfirmed}}</h4>
                <h6 class="card-text">
                    {% if (increment.total|int > 0) %}
                    <i class="fa fa-arrow-up"></i> Increased by {{increment.total|float|abs}}% {% else %}
                    <i class="fa fa-arrow-down"></i> Decreased by {{increment.total|float|abs}}% {% endif %}
                </h6>
            </div>
        </div>
    </div>
    <div class="col-md-3 px-2 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body p-4">
                <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Recovered<i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-3">{{data.discharged}}</h2>

                <h4 class="mb-1">{{today.dailyrecovered}}</h4>
                <h6 class="card-text">

                    {% if (increment.recovered|int > 0) %}
                    <i class="fa fa-arrow-up"></i> Increased by {{increment.recovered|float|abs}}% {% else %}
                    <i class="fa fa-arrow-down"></i> Decreased by {{increment.recovered|float|abs}}% {% endif %}
                </h6>
            </div>
        </div>
    </div>
    <div class="col-md-3 px-2 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body p-4">
                <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Active Cases<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-3">{{data.total - (data.discharged - data.deaths)}}</h2>
                <h4 class="mb-1">{{today.active}}</h4>
                <h6 class="card-text">

                    {% if (increment.active|int > 0) %}
                    <i class="fa fa-arrow-up"></i> Increased by {{increment.active|float|abs}}% {% else %}
                    <i class="fa fa-arrow-down"></i> Decreased by {{increment.active|float|abs}}% {% endif %}
                </h6>
            </div>
        </div>
    </div>
    <div class="col-md-3 px-2 stretch-card grid-margin">
        <div class="card bg-gradient-dark card-img-holder text-white">
            <div class="card-body p-4">
                <img src="{{ url_for('static', filename='assets/images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Deaths<i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-3">{{data.deaths}}</h2>
                <h4 class="mb-1">{{today.dailydeceased}}</h4>
                <h6 class="card-text">

                    {% if (increment.deceased|int > 0) %}
                    <i class="fa fa-arrow-up"></i> Increased by {{increment.deceased|float|abs}}% {% else %}
                    <i class="fa fa-arrow-down"></i> Decreased by {{increment.deceased|float|abs}}% {% endif %}
                </h6>
            </div>
        </div>
    </div>
</div>
<span class="switch switch-sm">
   <label class=" h3 mr-1">Cumulative</label>
    <input type="checkbox" class="switch" id="switch-id">
    <label class=" h3" for="switch-id">Daily</label>
  </span>
<div class="row">
    <div class="col-lg-6 col-sm-12 stretch-card p-0">
        <div class="card p-0">
            <div class="card-body p-4">
                <!-- <h4 class="text-danger">{{today.dailyconfirmed}} on {{today.date}}</h4> -->
                <!-- <h4 class="card-title">Line chart</h4> -->
                <canvas id="lineChartTotal" style="min-height:500"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 stretch-card p-0">
        <div class="card p-0">
            <div class="card-body p-4">
                <!-- <h4 class="card-title">Line chart</h4> -->
                <canvas id="lineChartRecovered" style="min-height:500"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 mb-5 stretch-card p-0">
        <div class="card p-0">
            <div class="card-body p-4">
                <!-- <h4 class="card-title">Line chart</h4> -->
                <canvas id="lineChartActive" style="min-height:500"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 mb-5 stretch-card p-0">
        <div class="card p-0">
            <div class="card-body p-4">
                <!-- <h4 class="card-title">Line chart</h4> -->
                <canvas id="lineChartDeceased" style="min-height:500"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card p-0">
        <div class="card p-0">
            <div class="card-body p-3">
                <!-- <h4 class="card-title">Line chart</h4> -->
                <canvas id="pieChart" style="min-height: 500;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card p-0">
        <div class="card p-0">
            <div class="card-body p-4">

                <table id="example" class="table datatable table-responsive-md table-hover" data-id-field="code" data-sort-name="value1" data-sort-order="desc" data-pagination="false" data-show-pagination-switch="false">
                    <thead>
                        <tr>
                            <th data-field="code" class="text-dark" data-sortable="true">State</th>
                            <th data-field="code" class="text-danger" data-sortable="true">Cases</th>
                            <th data-field="code" class="text-success" data-sortable="true">Recovered</th>
                            <th data-field="code" class="text-info" data-sortable="true">Active</th>
                            <th data-field="code" class="text-secondary" data-sortable="true">Deaths</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for region in regional %}

                        <tr>
                            <td class="text-dark">{{region.loc}}</td>
                            <td class="text-danger">{{region.totalConfirmed}}</td>
                            <td class="text-success">{{region.discharged}}</td>
                            <td class="text-info">{{region.totalConfirmed - (region.discharged+region.deaths)}}</td>
                            <td class="text-secondary">{{region.deaths}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}